{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="{% static "graphics/graphics.css" %}" />
    <script type="text/javascript" src="https://unpkg.com/chart.js@3.8.0"></script>
{% endblock %}

{% block content %}
    <div id="app-graphics">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Decide</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                </div>
            </div>
        </nav>   
        
        <div class="voting-container mt-3 ms-5">
            <h1>Estadísticas de la votación</h1>
        </div>

        <div class="voting div-visualizer-button mt-3 ms-5">
            <button class="btn btn-secondary" onclick="removeGraphicsAndRedirect()">
                Volver a los resultados
            </button>
        </div>

        <div class="row">
            <div class="col-md-4" id="dataChartContainer">
                <!-- Chart Selector -->
                <div class="voting div-chart-selector mt-3 ms-5">
                    <label for="chartType">Seleccione el tipo de gráfico:</label>
                    <select id="chartType" onchange="toggleCharts()">
                        <option value="pie">Gráfico de Pastel</option>
                        <option value="bar">Gráfico de Barras</option>
                    </select>
                </div>
                <!-- Result study-->
                <div class="voting div-results mt-3 ms-5">
                    <table>
                        <thead>
                            <tr><th>Datos de los resultados</th></tr>
                        </thead>
                        <tbody>
                            <tr><td id="winnerResult" class="winner"></td></tr>
                            <tr><td id="totalVotesResult" class="total-votes"></td></tr>
                        </tbody>
                    </table>
                </div> 
            </div>

            <!-- Pie Chart Column -->
            <div class="col-md-4" id="pieChartContainer" style="display: block;">
                <div class="div-pie-graph">
                    <canvas id="pieGraph"></canvas>
                </div>
            </div>

            <!-- Bar Chart Column -->
            <div class="col-md-4" id="barChartContainer" style="display: none;">
                <div class="div-bar-graph">
                    <canvas id="barGraph"></canvas>
                </div>
            </div>            
        </div>

        <script>
            function removeGraphicsAndRedirect() {
                var currentUrl = window.location.href;
                var modifiedUrl = currentUrl.replace(/\/graphics\/.*/, '');
                window.location.href = modifiedUrl;
            }

            function getWinner(results) {
                const allVotesZero = results.every(result => result.votes === 0);
                if (results.length === 0 || allVotesZero) {
                    return 'No hay registros de votos';
                }

                const sortedResults = results.slice().sort((a, b) => b.votes - a.votes);
                const maxVotes = sortedResults[0].votes;
                const topResults = sortedResults.filter(result => result.votes === maxVotes);
                if (topResults.length === 1) {
                    return `Opción ganadora de la votación: ${topResults[0].option}`;
                } else {
                    const tiedOptions = topResults.map(result => result.option);
                    return `Empate entre ${tiedOptions.join(', ')}`;
                }
            }

            function getTotalVotes(results) {
                let totalCount = 0;
                results.forEach((result) => {
                    totalCount += parseInt(result.votes);
                });
                return totalCount;
            }

            function toggleCharts() {
                const chartType = document.getElementById('chartType').value;

                if (chartType === 'bar') {
                    document.getElementById('barChartContainer').style.display = 'block';
                    document.getElementById('pieChartContainer').style.display = 'none';
                } else if (chartType === 'pie') {
                    document.getElementById('barChartContainer').style.display = 'none';
                    document.getElementById('pieChartContainer').style.display = 'block';
                }
            }

            function createBarChart(results) {
                const barGraph = document.querySelector("#barGraph");
                const totalVotes = getTotalVotes(results);
                const barLabels = [{% for opt in results %} '{{opt.option}}', {% endfor %}];
                const barData = {
                    labels: barLabels,
                    datasets: [{
                        label: "Número de votos",
                        data: [{% for val in results %} '{{val.votes}}', {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                        ],
                        borderWidth: 1
                    }]
                };
                const barConfig = {
                    type: 'bar',
                    data: barData,
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            },
                            x: {
                                stacked: true
                            }
                        },
                        plugins: {
                            legend: {
                                display: false,
                            },
                            tooltip: {
                                callbacks: {
                                    label: function (context) {
                                        const value = context.raw;
                                        const percentage = ((value / totalVotes) * 100).toFixed(2);
                                        return value > 1 ? 
                                            `${value} votos (${percentage}%)`:
                                            `${value} voto (${percentage}%)`;
                                    },
                                },
                            },
                        },
                    },
                };
                return new Chart(barGraph, barConfig);
            }

            function createPieChart(results) {
                const pieGraph = document.querySelector("#pieGraph");
                const totalVotes = getTotalVotes(results);
                const pieLabels = [{% for opt in results %} '{{opt.option}}', {% endfor %}];
                const pieData = {
                    labels: pieLabels,
                    datasets: [{
                        data: [{% for val in results %} '{{val.votes}}', {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                        ],
                        borderWidth: 1
                    }]
                };
                const pieConfig = {
                    type: 'pie',
                    data: pieData,
                    options: {
                        plugins: {
                            legend: {
                                display: true,
                            },
                            tooltip: {
                                callbacks: {
                                    label: function (context) {
                                        const value = context.raw;
                                        const percentage = ((value / totalVotes) * 100).toFixed(2);
                                        return value > 1 ? 
                                            `${value} votos (${percentage}%)`:
                                            `${value} voto (${percentage}%)`;
                                    },
                                },
                            },
                        },
                    },
                };
                return new Chart(pieGraph, pieConfig);
            }    

            const results = {{ results|safe }};
            barChart = createBarChart(results);
            pieChart = createPieChart(results);
            const winner = getWinner(results);
            const totalVotes = getTotalVotes(results);
            document.getElementById('winnerResult').innerText = `${winner}`;
            document.getElementById('totalVotesResult').innerText = `Total de votos: ${totalVotes}`;
        </script>
    </div>
{% endblock %}
