{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="{% static "visualizer/graphics.css" %}" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
{% endblock %}

{% block title %}
    {{voting_name}}
{% endblock %}

{% block content %}
    <div class="div-bar-graph">
        <canvas id="graph"></canvas>
        <script>
            const graph = document.querySelector("#graph");
            const labels = [{% for opt in results %} '{{opt.option}}', {% endfor %}]
            const data = {
                labels: labels,
                datasets: [{
                    label: "Número de votos",
                    data: [{% for val in results %} '{{val.postproc}}', {% endfor %}],
                    backgroundColor: 'rgba(9, 129, 176, 0.2)',
                    borderWith: 1
                }]};
            const config = {
                type: 'bar',
                data: data,
                options: {
                    scales:{ 
                        yAxes:[{ 
                        ticks: { 
                            beginAtZero:true 
                                } 
                        }] 
                    } 
                }
            };
            new Chart(graph, config);
        </script>
    </div>
{% endblock %}
